<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%PROJECTNAME%}</title>
    <link rel="icon" href="images/academic-cap.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="./styling/styles.css" />
  </head>
  <body>
    <header>
      <nav></nav>
      <div class="flex spaced">
        <h1 class="centre" style="color: white">Portfolio: Sam T. Schroder</h1>
        <a href="https://github.com/SamSchroder123"
          ><img
            id="github"
            src="images/github-mark-white.png"
            style="
              width: 200px;
              height: 200px;
              border: 4px solid black;
              border-radius: 50%;
              box-shadow: 10px 5px 5px grey;
            "
        /></a>
      </div>
      <div class="flex spaced">
        <h2 id="currentDate" class="underline"></h2>
        <h2 id="publishDate" class="underline"></h2>
      </div>
      <div id="projectPageContainer" class="spaced">
        <img
          src="{%IMGSRC%}"
          style="
            width: 400px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
          "
        />
        <h2 style="text-align: center">links:</h2>
        <ul>
          <a href="{%DEPLOYEDLINK%}"><li>Deployed Link</li></a>
          <a href="{%REPOLINK%}"><li>Repository Link</li></a>
        </ul>
      </div>
    </header>
    <main></main>
    <footer></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="scripts/script.js"></script>
    <!-- <script type="module" src="scripts/projectsScript.js"></script> -->
  </body>
</html>
